/*
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$                                       $$
$$      $$$$$  $$$$$$ $$  $$ $$$$$$      $$      $$$$$$ $$  $$  $$$$  $$$$$  $$    $$  $$ 
$$      $$  $$ $$  $$ $$$ $$   $$        $$      $$     $$  $$ $$  $$ $$  $$ $$     $$$$
$$      $$  $$ $$  $$ $$ $$$   $$        $$      $$     $$$$$$ $$$$$$ $$$$$  $$      $$   
$$      $$  $$ $$  $$ $$  $$   $$        $$      $$     $$  $$ $$  $$ $$ $$  $$      $$
$$      $$$$$  $$$$$$ $$  $$   $$        $$      $$$$$$ $$  $$ $$  $$ $$  $$ $$$$$$  $$
$$                                       $$
$$      $$$$$$ $$$$$$ $$$$$  $$  $$      $$        $$ 
$$      $$     $$  $$ $$  $$  $$$$       $$      $$  $$ 
$$      $$     $$  $$ $$$$$    $$        $$        $$  $$
$$      $$     $$  $$ $$       $$        $$      $$  $$ 
$$      $$$$$$ $$$$$$ $$       $$        $$        $$  $$
$$                                       $$
$$             $$  $$ $$  $$             $$      $$$$$$ $$$$$$
$$             $$$$$$  $$$$              $$      $$     $$  $$
$$             $$  $$   $$               $$      $$     $$  $$
$$             $$  $$   $$               $$      $$     $$  $$ 
$$             $$  $$   $$               $$      $$$$$$ $$$$$$ $$
$$                                       $$
$$      $$$$$$ $$$$$$ $$$$$  $$$$$$      $$      $$$$$  $$$$$$ $$$$$$ $$$$$       $$$$$  $$$$$$ $$$$$$ $$$$$       $$ $$ $$
$$      $$     $$  $$ $$  $$ $$          $$      $$  $$ $$     $$     $$  $$      $$  $$ $$     $$     $$  $$      $$ $$ $$
$$      $$     $$  $$ $$  $$ $$$$        $$      $$$$$  $$$$   $$$$   $$$$$       $$$$$  $$$$   $$$$   $$$$$       $$ $$ $$
$$      $$     $$  $$ $$  $$ $$          $$      $$  $$ $$     $$     $$          $$  $$ $$     $$     $$                  
$$      $$$$$$ $$$$$$ $$$$$  $$$$$$      $$      $$$$$  $$$$$$ $$$$$$ $$          $$$$$  $$$$$$ $$$$$$ $$          $$ $$ $$
$$                                       $$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                    $$$
                    $$$
                    $$$               : \
                    $$$               ;\ \_                   _
                    $$$               ;@: ~:              _,-;@)
                    $$$               ;@: ;~:          _,' _,'@;
                    $$$               ;@;  ;~;      ,-'  _,@@@,'
                    $$$              |@(     ;      ) ,-'@@@-;
                    $$$              ;@;   |~~(   _/ /@@@@@@/
                    $$$              \@\   ; _/ _/ /@@@@@@;~
                    $$$               \@\   /  / ,'@@@,-'~
                    $$$                 \\  (  ) :@@(~
                    $$$              ___ )-'~~~~`--/ ___
                    $$$             (   `--_    _,--'   )
                    $$$            (~`- ___ \  / ___ -'~)
                    $$$           __~\_(   \_~~_/   )_/~__
                    $$$        ,-'~~~~~`-._ 0\/0 _,-'~~~~~`-.
                    $$$       ;     ______ `----'  ______    :
                    $$$       ;    {      \   ~   /      }   |
                    $$$       `-._      ,-,' ~~  `.-.      _,'        |\
                    $$$_          `----' ,'       `, `----'           : \
                    $$( )                `-._/#\_,-'                  :  )
                  ,-$$ ~)           _,--./  (###)__                   :  :
                  (~~~~_)          /       ; `-'   `--,               |  ;
                  (~~~' )         ;       /@@@@@@.    `.              | /
                  `.$$$;        ,-'  ,-   |@@@ @@@@.   `.             .')
                   `$$$`.      ,'   /     |@@@@@ @@@@.  `.           / /(~)
                    $$$  \_   ,'  _/`.    |@@@@@ @@@@@;  `.          ; (~~)
                    ~~`.   \_,'  /   ;   .@@@@@ @@@@@@;\_  \___      ; H~\)
                        \_     _/    `.  |@@@@@@ @@@@@;  \     `----'_HH[~)
                          \___/       `. :@@@@@ @@@@@@'   \__,------' HH ~
                         ______        ; |@@@@@@ @@@'                 HH
                       _)      \_,     ; :@@@@@@@@@;                  ~~
                     _;          \\   ,' |@@@@@@@@@:
                   ,'     ; :      \_,   :@@@@@@@@@@.
                   `.__,-'~~`._,-.  ,    :@@@@@@@@@@`.
                                  \/    /@@@@@@@@@@@@:
                                  /    ,@@@@@@@@@@@@@@.
                                 |    ,@@@@@@@@@@@@@@@:
                                 |    :@@@@@@@@@@@@@@@'
                                 `.   \@@@@/  `@@@@@/(
                                   )   ~~~/    \~~~~  \
                                   :     /       \_    \
                                   (    /          \_   `.
                                   /   ;             \_  `.
                                  /   /                \  `.
                                 /   /                  `.  \
                               ,'  ,'/~~)                ;  /
                               {   `'   (               /  /
                               `.___,-'  \             /  /
                                  __/     |           /  /
                                 /        |           : :   __
                                 :        |           ; : _;  )__
                                 (  |  |  /          /  `,'  ~   )_
                                  `-:__;-'          :  ,'      ~~  ;
                                                   /          (_,--'
                                                  (       ,-'~~
                                                   \__,-'~
*/




/*ALL*/

body{
	overflow-x:hidden; 
}

li{
	list-style-type: none;
}
a{
	text-decoration: none;
	text-align: center;
}

/*HOME*/

.home {
	background: url(../img-css/me-2.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.title-home {
	font-size: 10em;
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: 0;
}
.title-home-red{
	color: rgba(127,0,0,0.8);
}

/*About*/

#about {
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px -100px 100px rgba(0,0,0,0.5);
}
.title-about{
	font-size: 6.8em;
	font-weight: bold;
	color: #0971B2;
}
.img-about-me img{
	width: 100%;
}
.description-about{
	font-family: Times, Arial, sans-serif;
	font-size: 2em;
	text-align: justify;
	color: #0971B2;
}

/*Work*/

#work{
	margin: 0; 
	padding:0;
	width: 100%;
}

/*Large projet*/

.block-large-projet{
	background-color: rgba(225,255,255,0.8);
	margin-top: 50px;
	margin-bottom: 50px;
}
.title-large-projet {
	text-align: left;
	color: #7F0000;
	border-bottom: solid 4px #7f0000;
	font-size: 5em;
}
.fct-large-projet, .statut-large-projet {
	text-align: left;
	color: #7F0000;
	margin-top: 10px;
	font-size: 2em;
}
.url-large-projet{
	font-size: 2em;
	text-align: right;
	display: block;
	width: 100%;
	color: #7F0000;
	margin-bottom: 20px;
}
.url-large-projet:hover{
	text-decoration: line-through;
	color: #7F0000;
}
.btn-large-projet{
	opacity: 0;
	display: block;
	color: #fff;
	height: 50px;
	width: 100%;
	text-align: center;
	border: solid 1px #fff;
	font-size: 2em;
	margin-top: 38%;
}
.btn-large-projet:hover{
	color: #fff;
	text-decoration: none;
}
.btn-large-projet:hover img{
	margin-left: 20px;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}
.background-large-projet-1{
	background:url('../img-css/projet-1-home.jpg') no-repeat center;
	background-size: cover;
}
.background-large-projet-2{
	background:url('../img-css/projet-4-home.jpg') no-repeat center;
	background-size: cover;
}
.background-large-projet-1 .row:hover, 
.background-large-projet-2 .row:hover{
	background-color: rgba(0,0,0,0.5);
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in-out;
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
}
.background-large-projet-1 .row:hover .btn-large-projet, 
.background-large-projet-2 .row:hover .btn-large-projet{
	opacity: 1;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in-out;
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
}
.block-large-projet-btn.mobile{
	display: none;
}

/*Small projet*/

.block-small-projet{
	opacity: 0;
}
.title-small-projet{
	font-size: 5em;
	border-bottom: solid 4px #353535;
	color: #353535;
	text-align: left;
}
.fct-small-projet, .statut-small-projet{
	font-size: 2em;
	margin-top: 10px;
	color: #353535;
}
.url-small-projet{
	font-size: 2em;
	text-align: right;
	display: block;
	width: 100%;
	color: #353535;
	margin-bottom: 20px;
}
.url-small-projet:hover{
	text-decoration: line-through;
	color: #353535;
}
.btn-small-projet{
	display: block;
	width: 100%;
	color: #353535;
	text-align: center;
	border: solid 1px #353535;
	height: 50px;
	font-size: 2em;
	margin-bottom: 30px;
}
.btn-small-projet:hover{
	text-decoration: none;
	color: #353535;
}
.btn-small-projet:hover img{
	margin-left: 20px;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}
.background-small-projet-1{
	background: url('../img-css/projet-2-home.jpg') no-repeat center;
	background-size: cover;
	padding-top:50px;
	padding-bottom: 50px; 
}
.background-small-projet-2{
	background: url('../img-css/projet-3-home.jpg') no-repeat center;
	background-size: cover;
	padding-top:50px;
	padding-bottom: 50px; 
}
.background-small-projet-3{
	background: url('../img-css/projet-5-home.jpg') no-repeat center;
	background-size: cover;
	padding-top:50px;
	padding-bottom: 50px; 
}
.background-small-projet-4{
	background: url('../img-css/projet-6-home.jpg') no-repeat center;
	background-size: cover;
	padding-top:50px;
	padding-bottom: 50px; 
}
.background-small-projet-1:hover .block-small-projet,
.background-small-projet-2:hover .block-small-projet,
.background-small-projet-3:hover .block-small-projet,
.background-small-projet-4:hover .block-small-projet{
	background-color: rgba(255,255,255, 0.8);
	opacity: 1;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}


/*Skills*/

#skills {
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: #00B223;
}
.title-skills{
	font-size: 6.8em;
	font-weight: bold;
	color: #fff;
}

.date-skills{
	text-align: center;
	color: #fff;
	font-family: times, arial, sans-serif;
}
.title-skills-company{
	color: #fff;
	font-family: times, arial, sans-serif;
}
.description-skills-company{
	color: #fff;
	font-family: times, arial, sans-serif;
	font-size: 1em;
}

/*Contact*/

#contact {
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: #fff;
}
.title-contact{
	font-size: 6.8em;
	font-weight: bold;
	color: #B21212;
}
.title-contact-mail {
	color: #B21212;
	font-size: 3em;
	font-family: times, arial, sans-serif;
}
.btn-contact{
	width: 80%;
	margin: 10px 0 10px 0;
	display: block;
	height: 50px;
	border: solid 2px #B21212;
	font-size: 2em;
	color: #B21212;
	font-family: times, arial, sans-serif;
}
.btn-contact:hover{
	text-decoration: none;
	color: #fff;
	background-color: #B21212;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}
.btn-modal-contact-form{
	font-size: 1.5em;
	margin: 0;
	font-family: times, arial, sans-serif;
}
.btn-contact-form, .contact-form{
	margin: 0;
	padding: 0;
	background-color: inherit;
	text-decoration: none;
	border: inherit;
	font-size: 1em;
	font-family: times, arial, sans-serif;
	margin-bottom: 2px;
	color: #00B223;
}
.btn-contact-form:hover, .contact-form:hover{
	background-color: inherit;
	text-decoration: line-through;
	border: inherit;
}
.title-social-networks{
	color: #B21212;
	font-size: 3em;
	font-family: times, arial, sans-serif;
}
#contact .col-lg-4 ul{
	margin: 20px 0 0 0;
	padding: 0;
}
#contact .col-lg-4 .social-networks a {
	color: #b21212;
	font-size: 1.5em;
	margin: 10px 0;
	font-family: times, arial, sans-serif;
}
#contact .col-lg-4 .social-networks a:hover{
	text-decoration: line-through;
	margin-left: 10px;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}
.btn-top-home a{
	display: block;
	margin-bottom: 20px;
}
.copyright{
	color: #b21212;
	margin:20px 0 20px 50px;
}


/*VINOCASTING SITE*/


.projet-1 {
	background: url(../img-css/projet-1-vinocasting-site.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.title-projet-wrap{
	font-size: 6.8em;
	font-weight: bold;
	color: #B21212;
}
.title-projet{
	font-size: 6.8em;
	font-weight: bold;
	color: #0971B2;
}

/*presentation client*/

.presentation-client{
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px -100px 100px rgba(0,0,0,0.5);
}
.description-about{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #0971B2;
}
.projet-1-block-1, .projet-1-block-2, .projet-1-block-3{
	width: 100%;
}

/*projet-1 block*/

.projet-1-block-1{
	background: url('../../img/projet-1/livret.png') no-repeat center;
	background-size: contain;
}
.projet-1-title-p-1{
	font-size: 6.8em;
	font-weight: bold;
	color: #b21212;
}
.projet-1-description-p-1-background{
	background-color: rgba(255,255,255,0.8);
}
.projet-1-description-p-1{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-top: 50px;
}
.projet-1-block-2-img-1{
	padding-top: 50px;
}
.projet-1-block-2-img-1,
.projet-1-block-2-img-2{
	width: 100%;
}
.projet-1-description-p-2{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	color: #b21212;
	text-align: justify;
}
.projet-1-title-p-2{
	font-size: 6.8em;
	font-weight: bold;
	color: #00B223;
}
.projet-1-description-p-3{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #00B223;
}
.projet-1-block-4 {
	position: relative;
	z-index: 2;
	width: 100%;
	margin-top: 50px;
	background-color: #fff;
}
.padding-pb{
	padding: inherit;
}
.projet-1-block-5{
	background-color: #fff;
}
.projet-1-block-5-img-1{
	width: 100%;
	height: auto;
}
.btn-prev-projet{
	text-align: left;
	font-size: 1.2em;
	font-family: times, arial, sans-serif;
	color: #00B223;
	height: 50px;
	border: solid 1px #00B223;
}
.btn-prev-projet a, .btn-next-projet a{
	display: block;
	text-align: center;
	font-size: 1.2em;
	font-family: times, arial, sans-serif;
	color: #00B223;
	margin-top: 2px;
}
.btn-prev-projet a:hover, .btn-next-projet a:hover{
	text-decoration: none;
	color: #00B223;
}
.btn-prev-projet:hover img{
	padding-right: 10px;
	color: #00B223;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}
.btn-next-projet{
	text-align: right;
	font-size: 1.2em;
	font-family: times, arial, sans-serif;
	color: #00B223;
	height: 50px;
	border: solid 1px #00B223;
}
.btn-next-projet:hover img{
	padding-left: 10px;
	color: #00B223;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}

/*Footer*/

.footer{
	background-color: #fff;
}
.url-site{
	font-size: 1.5em;
	text-align: center;
	color: #7F0000;
	font-family: times, arial, sans-serif;
	display: block;
	margin-top: 10px;
}
.url-site:hover{
	color: #7F0000;
	text-decoration: line-through;
}
.btn-top-home-projet{
	margin-bottom: 20px;
}
.btn-top-home-projet a{
	display: block;
}
.btn-top-home-projet a img{
	float: right;
}
.copyright-projet{
	color: #b21212;
	margin: 5px 0 0 0px;
}

/*VINOCASTING APP*/

.projet-2 {
	background: url(../img-css/projet-2-vinocasting-app.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.projet-2-block-1, .projet-2-block-2{
	width: 100%;
}
.projet-2-title-p-1{
	font-size: 6.8em;
	font-weight: bold;
	color: #b21212;
}
.projet-2-description-p-1{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
}
.projet-2-block-1-img-1{
	height: auto;
	width: 100%;
}
.projet-2-description-p-2{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-top: 30%;
}
.appStore{
	text-align: left;
	font-size: 1.5em;
	color: #00B223;
	font-family: times, arial, sans-serif;
}
.googleStore{
	text-align: right;
	font-size: 1.5em;
	color: #00B223;
	font-family: times, arial, sans-serif;
}
.appStore a, .googleStore a{
	color: #00B223;
}
.appStore:hover a, .googleStore:hover a{
	color: #00B223;
	text-decoration: line-through;
}
.appStore:hover{
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
	color: #00B223;
	text-decoration: line-through;
}
 .googleStore:hover{
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
	color: #00B223;
	text-decoration: line-through;
}
.block-prev-footer{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 0;
}
.block-prev-footer.vinocasting{
	margin-right: -15px;
}

/*FRANCE WINE TOURS*/

.projet-3 {
	background: url(../img-css/projet-3-francewinetours.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.projet-3-block-1, .projet-3-block-2, .projet-3-block-3{
	width: 100%;
}

/*Block 1*/

.projet-3-block-1-title{
	z-index: 3;
}
.projet-3-title-p-1{
	font-size: 6.8em;
	font-weight: bold;
	color: #b21212;
}
.projet-3-description-p-1{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-top: 50px;
}
.projet-3-block-1-img-1{
	height: auto;
	width: 90%;
	position: relative;
	margin: auto;
}

/*Block 2*/

.projet-3-description-p-2{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-top: 100px;
}

/*Block 3*/

.projet-3-block-3{
	margin-top: 50px;
}
.projet-3-block-3-img-1{
	width: 100%;
}

/*ON THE GREEN ROAD*/

.projet-4 {
	background: url(../img-css/projet-4-onthegreenroad.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.title-projet-wrap-otgr{
	font-size: 6.8em;
	font-weight: bold;
	color: #fff;
}
.title-projet-wrap-otgr span{
	color: #00B223;
}
.open-menu-otgr,.open-menu-otgr:hover{
	background-color: inherit;
	border: inherit;
	margin: 0;
	padding: 0;
	text-align: right;
}
.open-menu-otgr h1{
	font-size: 1.5em;
	color: #00B223;
	background-color: inherit;
	font-family: times, arial,sans-serif;
	border: inherit;
	margin: 0;
	padding: 0;
	text-align: right;
}
.open-menu-otgr h1:hover{
	color: #00B223;
	text-decoration: line-through;
}
.projet-4-block-1, .projet-4-block-2,
.projet-4-block-3, .projet-4-block-4{
	width: 100%;
}

/*Block1*/

.projet-4-title-p-1{
	font-size: 6.8em;
	font-weight: bold;
	color: #b21212;
	margin-top: 80px;
}
.projet-4-description-p-1-background{
	background-color: rgba(255,255,255, 0.8);
}
.projet-4-description-p-1{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-bottom: 50px;
	margin-top: 30px;
}
.projet-4-block-1-background{
	background: url('../../img/projet-4/affiche-otgr-1.jpg') no-repeat center;
	background-size: contain;
}

/*Block2*/

.projet-4-block-2-img-1{
	width: 100%;
}
.projet-4-block-2-img-2{
	width: 100%;
}
.projet-4-description-p-2{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	color: #b21212;
	text-align: justify;
}

/*Block3*/

.projet-4-title-p-2{
	font-size: 6.8em;
	font-weight: bold;
	color: #00B223;
	margin-top: 0;
	padding-top: 0;
}
.projet-4-description-p-3{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #00B223;
}

/*Block4*/

.projet-4-block-4{
	margin-top: 50px;
}
.projet-4-block-4-img-1{
	width: 100%;
}

/*ALIX AIME... WEBSITE*/

.projet-5 {
	background: url(../img-css/projet-5-alixaime.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.projet-5-block-2, .projet-5-block-1{
	width: 100%;
}

/*Block1*/

.projet-5-title-p-1{
	font-size: 6.8em;
	font-weight: bold;
	color: #b21212;
	margin-top: 80px;
}
.projet-5-description-p-1-background{
	background-color: rgba(255,255,255, 0.8);
}
.projet-5-description-p-1{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-bottom: 50px;
	margin-top: 30px;	
}
.projet-5-block-1-background{
	background: url('../../img/projet-5/ensemble-img.jpg') no-repeat center;
	background-size: cover;
}

/*Block2*/

.projet-5-block-2-img-1{
	width: 100%;
}

/*THE ACTIVIST WEBSITE*/

.projet-6 {
	background: url(../img-css/projet-6-theactivist.jpg) no-repeat 0 center fixed;
	background-size: 100%;
	background-position: center;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.projet-6-block-2, .projet-6-block-1, .projet-6-block-3{
	width: 100%;
}

/*Block1*/

.projet-6-title-p-1{
	font-size: 6.8em;
	font-weight: bold;
	color: #b21212;
	margin-top: 80px;
}
.projet-6-description-p-1-background{
	background-color: rgba(255,255,255, 0.8);
}
.projet-6-description-p-1{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #b21212;
	margin-bottom: 50px;
	margin-top: 30px;	
}
.projet-6-block-1-background{
	background: url('../../img/projet-6/ensemble-img.jpg') no-repeat center;
	background-size: cover;
}

/*Block2*/

.projet-6-block-2-title{
	position: absolute;
	z-index: 3;
}
.projet-6-title-p-2{
	font-size: 6.8em;
	font-weight: bold;
	color: #00B223;
}
.projet-6-block-2-img-1{
	width: 100%;
}
.projet-6-description-p-2{
	font-size: 2em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	color: #00B223;
}

/*Block3*/

.projet-6-block-3-img-1{
	width: 100%;
}

/*MOVIE PROJET*/

.projet-7 {
	background: url(../img-css/projet-7-movieproject.jpg) no-repeat 0 center fixed;
	background-position: center;
	background-size: 100%;
	height: 750px;
	padding-top:100px;
	width: 100%;
	margin: inherit;
}
.video-block{
	width: 100%;
}
.video-block.block-1{
	box-shadow: 0px -100px 100px rgba(0,0,0,0.5);
}
.video{
	padding: inherit;
}
.title-video{
	font-size: 4em;
	font-weight: bold;
	margin-top: 0;
}
.description-video{
	font-size: 1.5em;
	font-family: times,arial, sans-serif;
	text-align: justify;
	margin-bottom: 0;
}
.text-mobile{
	display: none;
}

/*MENU*/

/*label menu*/

.label-menu {
	position: fixed;
	right: 80px;
	top: 15px;
	font-size: 1.5em;
	color: #b21212;
}

/*design toggle*/

.navbar-toggle{
	display: block !important;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
	border: none;
	background-color: #fff !important;
	border-radius:50%; 
	padding: 13px 10px;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
}

/*Animation menu flèche*/

.navbar-toggle .icon-bar {
	  position: relative;
	  background-color: #b21212 !important;
	  transition: all 350ms ease-in-out;
	  -ms-transition:all 350ms ease-in-out;
      -webkit-transition:all 350ms ease-in-out;
      -moz-transition:all 350ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 11px;
	  width: 70%;
	  right: -9px;
	  transform: rotate(135deg);
	  -ms-transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  bottom: 0px !important;
	  transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  bottom: 11px;
	  width: 70%;
	  right: -9px;
	  transform: rotate(225deg);
	  -ms-transform: rotate(225deg);
	  -webkit-transform: rotate(225deg);
	  -moz-transform: rotate(225deg);
}

/*Design menu*/

.navmenu {
	box-shadow: -2px 0px 20px rgba(0,0,0,0.2);
}
.navmenu-nav li a {
	font-size: 1.5em;
	font-family: Times, Arial, sans-serif;
	color: #b21212;
	text-align: left;
}
.navmenu-nav li:hover a, 
.navmenu-nav li a:hover, 
.navmenu-nav li a:focus,
.navmenu-nav li a:active,
.navmenu-nav li:focus a,
.navmenu-nav li:active a{
	background-color: #b21212 !important;
	color: #fff !important;
}
.navmenu-nav li:nth-child(9){
	margin-bottom: 10px;
}
.navmenu-nav li a img{
	width:  15%;
}

/*Socials networks menu*/

.navmenu-nav li:last-child > ul{
	padding-left: 0;
	text-align: center;
	width: 100%;
	height: auto;
}
.navmenu-nav li:last-child > ul li {
	display: inline-block;
	width: 32%;
	height: auto;
}
.navmenu-nav li:last-child > ul li a {
	display: block;
	text-align: center;
	text-indent: -9999px;
	font-size: 0;
	height: 30px;
}
.navmenu-nav li:last-child:hover a {
	background-color: inherit !important;
	color: inherit !important;
}
.navmenu-nav li:last-child > ul li:first-child a {
	background: url('../../img/picto/insta.svg') no-repeat center;
}
.navmenu-nav li:last-child > ul li:first-child:hover a {
	background: url('../../img/picto/insta-hover.svg') no-repeat center;
}
.navmenu-nav li:last-child > ul li:nth-child(2) a {
	background: url('../../img/picto/linkedin.svg') no-repeat center;
}
.navmenu-nav li:last-child > ul li:nth-child(2):hover a {
	background: url('../../img/picto/linkedin-hover.svg') no-repeat center;
}
.navmenu-nav li:last-child > ul li:last-child a {
	background: url('../../img/picto/dribbble.svg') no-repeat center;
}
.navmenu-nav li:last-child > ul li:last-child:hover a {
	background: url('../../img/picto/dribbble-hover.svg') no-repeat center;
}




/*-----------------------------------------------------------ALL CAROUSEL-----------------------------------------------------------*/





/*CAROUSEL VINOCASTING SITE*/

.carousel{
	height: 100%;
	width: 100%;
	color:white;
}
.carousel-page{
	width: 100%;
	height: 100%;
}

/*CAROUSEL APP VINOCASTING*/

.carousel-app, .carousel-app-fwt{
	margin-top: 20px;
	height: 100%;
	width: 60%;
	color:white;
}
.carousel-page-app{
	width: 100%;
	height: 100%;
}
.carousel-indicators-app{
	left: 30%;
}
.carousel-indicators-app li {
	border: solid 1px #000;
}





/*------------------------------------------------------------ALL MODAL------------------------------------------------------------*/





/*MODAL MENU*/

#top{
	z-index: 15;
}
.open-menu{
	border-radius: inherit;
	background-color: inherit;
	padding: inherit;
	border: inherit;
	top: 35px;
	right: 120px;
	position: fixed;
	z-index: 10;
}
.btn-menu{
	font-size: 1.5em;
	color: #B21212;
}
.btn-menu:hover{
	text-decoration: line-through;
	background-color: inherit;
	border: inherit;
}
button.close{
	right: 30px;
	position: absolute;
}
button.close:hover{
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transition-duration:0.7s;
    -webkit-transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    transition-duration:0.7s;
    -ms-transition-timing-function:ease-in-out;
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
}
.open-menu:hover {
background-color: inherit;
}
.modal-open .modal{
	overflow-y: hidden;
}
.modal-backdrop {
	opacity: inherit!important;
	background-color: inherit;
}
.modal-dialog{
	width: 100%;
	height: 100%;
}
.modal-content {
	width: 100%;
	height: 100%;
	background-color: inherit;
	border: inherit;
	box-shadow:inherit;
}
.modal-header .close{
	margin-top: 4px;
	opacity: inherit;
	z-index: 10;
}
.modal-header{
	border: inherit;
}
.title-block-work{
	text-align: center;
}

/*MODAL CONTACT FORM*/

.modal-contact-form{
	background-color: #fff;
}
.h4{
	font-size: 1.5em;
	font-family: times, arial,sans-serif;
	color:#7F0000;
}
.form-control{
	background-color: inherit;
	border-radius:inherit;
	border: solid 1px #7F0000; 
	box-shadow: inherit;
	text-transform: uppercase;
	font-style: italic;
}
#form-submit{
	width: 100%;
	border: solid 1px #7F0000;
	background-color: inherit;
	border-radius: inherit;
	color: #7F0000;
	font-family: times, arial,sans-serif;
	margin-top: 20px;
}
#form-submit:hover{
	background-color: #7F0000;
	color: #fff;
}
.body-contact-form{
	margin-top: 50px;
}

/*MODAL MENU WORK*/

#modal-menu-work{
	background-color: #fff;
	padding: 0;
	box-shadow: -50px 0 50px rgba(0,0,0,0.5);
}
#modal-menu-work .modal-body {
	margin-top: 10%;
	padding: 0;
}
.title-block-work{
	font-size: 2em;
	margin: 40px 0;
	opacity: 1;
	font-family: times, arial, sans-serif;
}
.title-block-work a{
	color: #2D2D2D;
	text-decoration: none;
}
.block-work{
	padding: 0;
	margin: 0;
}
.btn-block-work{
	border:solid 1px #2D2D2D;
	font-size: 1.5em;
	color: #2D2D2D;
	font-family: times, arial, sans-serif;
	width: 80%;
	margin: auto;
	display: block;
}
.btn-block-work:hover{
	text-decoration: none;
	color: #2D2D2D;
}
.btn-block-work:hover img{
	margin-left: 20px;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}
.go-home {
	border: solid 2px #7F0000;
	margin: 20px 0;
	padding: 5px 0;
}
.go-home .col-lg-12{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.go-home .col-lg-12 a {
	display: block;
	margin: 0 auto;
	font-size: 2em;
	color: #7F0000;
	font-family: times, arial,sans-serif;
}
.go-home .col-lg-12 a:hover{
	text-decoration: none;
	color: #7F0000;
}
.go-home .col-lg-12 a:hover img{
	margin-right: 20px;
	-ms-transition-duration:0.2s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -ms-transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
}

/*MODAL VIDEO OTGR*/

.modal-vid-otgr{
	background-color: #fff;
}
.modal-dialog-otgr{
	height: 100%;
}
.video-otgr{
	padding: 0;
	height: 100%;
}
.modal-content-otgr{
	height: 100%;
}
.modal-header-otgr{
	position: absolute;
	width: 100%;
}
.close-otgr{
	position: absolute;
	top: 40px;
	right: 20px;
	border: inherit;
	background-color: inherit;
	z-index: 20;
}
.close-otgr:hover{
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    -ms-transition-duration:0.7s;
    -webkit-transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    transition-duration:0.7s;
    -ms-transition-timing-function:ease-in-out;
    -webkit-transition-timing-function:ease-in-out;
    -moz-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
}
.modal-body-otgr{
	height: 100%;
	padding: 0;
}





/*----------------------------------------------------------MEDIAS QUERIES---------------------------------------------------------*/





@media screen and (min-device-width: 1400px){
	.btn-large-projet{
		margin-top: 18% !important;
	}
}
@media screen and (max-device-width: 1025px){
	/*HOME*/
	.home, .projet-1, .projet-2, .projet-3, .projet-4, .projet-5, .projet-6, .projet-7{
		background-size: cover;
		height: inherit;
		background-position: center;
	}
	.presentation-client, #about, .video-block.block-1{
		box-shadow: none;
	}
	.title-projet-wrap, .title-projet-wrap-otgr{
		margin-top: 100px;
		margin-bottom: 200px;
	}
	#work{
		padding-left: 0px;
		padding-right: 0px;
	}
	/*Large projet*/
	.background-large-projet-1 .row,
	.background-large-projet-2 .row{
		background-color: rgba(0,0,0,0.5);
	}
	.background-large-projet-1,
	.background-large-projet-2{
		padding-left: 0px;
		padding-right: 0px;
	}
	.block-large-projet-btn{
		padding: inherit;
	}
	.block-large-projet-btn.desktop{
		display: none;
	}
	.block-large-projet-btn.mobile{
		display: block;
	}
	.btn-large-projet {
		margin-bottom: 50px;
		opacity: 1;
		margin-top: inherit;
	}
	/*small projet*/
	.block-small-projet{
		opacity: 1;
		background-color: rgba(255,255,255, 0.8);
	}
	.body-contact-form{
		margin-top: 100px;
	}
	.form-group{
		padding-left: inherit;
		padding-right: inherit; 
	}

	/*VINOCASTING WEBSITE*/
	
	.block-prev-footer.vinocasting{
		margin-right: inherit;
	}
	.row{
		margin-right: inherit;
		margin-left: inherit;
	}

	/*VINOCASTING APP*/

	.carousel-app, .carousel-app-fwt{
		width: 80%;
		margin: 20px auto;
	}
	.block-prev-footer{
		margin-right: 15px;
		margin-left: 15px;
	}
	.carousel-indicators-app{
		left: 50%;
	}
	/*VIDEO*/
	.video-block{
		padding: inherit;
	}
}
@media screen and (max-device-width: 993px){
	/*HOME*/
	.title-home{
		margin-top: 100px;
		margin-bottom: 200px;
	}
	.title-projet-wrap, .title-projet-wrap-otgr{
		margin-top: 225px;
		margin-bottom: 325px;
	}
	.sm-screen-skills{
		margin-bottom: 20px;
	}
	.block-contact, .block-social-networks{
		text-align: center;
	}
	.btn-contact{
		margin: 20px auto;
	}
	.body-contact-form{
		margin-top: 200px;
	}
	/*VINOCASTING APP*/
	.projet-2-description-p-2{
		margin-top: 40px;
	}
	/*FWT*/
	.projet-3-block-1-img-1{
		width: 100%;
	}
	.projet-3-description-p-2{
		margin-top: 40px;
	}
	/*OTGR*/
	.open-menu-otgr{
		text-align: right;
		width: 100%;
	}
	/*ALIX AIME*/
	.projet-5-block-1, .projet-6-block-1{
		padding: inherit;
	}
	/*THE ACTIVIST*/
	.projet-6-block-2-title{
		position: relative;
	}
	/*VIDEO*/
	.text-desktop{
		display: none;
	}
	.text-mobile{
		display: block;
	}
	.description-video{
		margin-bottom: 30px;
	}
	.title-video.first{
	margin-top: 20px;
	}
}
@media screen and (max-device-width: 767px){
	/*HOME*/
	.title-home{
		font-size: 4em;
		margin-top: 30px;
		margin-bottom: 80px;
	}
	.title-projet-wrap, .title-projet-wrap-otgr{
		font-size: 2.5em;
		margin-top: 60px;
		margin-bottom: 160px;
	}
	.title-about, .title-skills, .title-contact,
	.title-projet, .projet-1-title-p-1, 
	.projet-1-title-p-2, .projet-2-title-p-1, 
	.projet-3-title-p-1, .projet-4-title-p-1,
	.projet-4-title-p-2, .projet-5-title-p-1,
	.projet-6-title-p-1, .projet-6-title-p-2{
		font-size: 2.5em;
	}
	.title-large-projet, .title-small-projet, 
	.title-contact-mail, .title-social-networks{
		font-size: 2em;
	}
	.fct-large-projet, .statut-large-projet,
	.url-large-projet, .url-small-projet,
	.fct-small-projet, .statut-small-projet, 
	.description-about, .date-skills h1, 
	.title-skills-company, .btn-contact,
	.projet-1-description-p-1, .projet-1-description-p-2,
	.projet-1-description-p-3, .projet-2-description-p-1,
	.projet-2-description-p-2, .projet-3-description-p-1,
	.projet-3-description-p-2, .projet-4-description-p-1,
	.projet-4-description-p-2, .projet-4-description-p-3,
	.projet-5-description-p-1, .projet-6-description-p-1,
	.projet-6-description-p-2{
		font-size: 1.5em;
	}
	#work, .background-large-projet-1,
	.background-large-projet-2, .col-xs-12{
		padding-right: inherit;
		padding-left: inherit;
	}
	.fct-large-projet, .statut-large-projet,
	.url-large-projet, .url-small-projet,
	.fct-small-projet, .statut-small-projet,
	.title-large-projet, .title-small-projet{
		padding-left: 15px;
		padding-right: 15px;
	}
	.btn-small-projet{
		width: calc(100% - 30px);
		margin: 0px auto 30px;
	}
	.btn-contact{
		padding-top: 5px;
	}
	.block-large-projet-btn{
		padding-right:15px;
		padding-left: 15px; 
	}
	.copyright, .copyright-projet{
		margin:20px 0;
		text-align: center;
	}
	.btn-top-home, .btn-top-home-projet{
		display: none;
	}
	.block-prev-footer.vinocasting{
		margin-left: inherit;
	}
	.block-prev-footer{
		margin-bottom: 0;
	}
	.url-site{
		margin: 10px 0;
	}
	.modal-dialog{
		margin: 0;
	}
	.form-group{
		margin-bottom: 0;
	}
	.body-contact-form{
		margin-top: 0px;
	}
	/*VINOCASTING APP*/
	.carousel-indicators-app{
		bottom: 25px;
	}
	.btn-prev-projet, .btn-next-projet{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	/*FWT*/
	.projet-3-block-3, .projet-1-block-4,
	.projet-4-block-4{
		margin-top: 20px;
	}
	/*OTGR*/
	.open-menu-otgr{
		font-size: 1em;
	}
	.projet-4-title-p-1, .projet-6-title-p-1{
		margin-top: 20px;
	}
	.modal-body-otgr > iframe{
		height: 100%;
	}
	/*ALIX AIME...*/
	.projet-5-title-p-1{
		margin-top: 0;
	}
	/*THE ACTIVIST*/
	.projet-6-description-p-1{
		margin-bottom: 0;
	}
	/*Menu*/
	.navmenu, .navbar-offcanvas{
		width: 180px !important
	}
	.navmenu-nav li a{
		font-size: 1em !important;
	}
	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
		margin-right: 0 !important;
	}
	.label-menu{
		right: 70px;
	}
	.navmenu-nav li:last-child > ul li{
		width: 30%;
	}
	/*VIDEO*/
	.video-block{
		padding: 0 15px;
	}
	.title-video{
		font-size: 2.5em;
	}
	.description-video{
		font-size: 1.5em;
	}
	iframe{
		height: auto;
	}
}





